.van-popup{
    .van-card__header{
        height: 85px;
    }
    .sheet-content{
        padding: 16px 16px 150px;
    }
    .van-card__thumb{
    height: 65px;
    width: 65px;
    }
  .van-card{
      height: 85px;
  }
}